networks:
  celine_dt:

volumes:
  postgres_data:

services:
  dt:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - celine_dt
    volumes:
      - ./config:/app/config:ro
    ports:
      - "8002:8002"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8002/health"]
      interval: 10s
      timeout: 3s
      retries: 5
    extra_hosts:
      - "keycloak.celine.localhost:172.17.0.1"
      - "api.celine.localhost:172.17.0.1"
